$colorGray: #F7F7F7;
$colorDarkGray: #999999;
$colorDark: #404149;
$colorAccent: #F7654A;
$colorWhite: #FFFFFF;

@mixin flex(){
  display: flex;
  justify-content: center;
}

@mixin font($weight: normal, $size: 36px, $height: 53px, $style: normal, $spacing: normal) {
  font-weight: $weight;
  font-size: $size;
  line-height: $height;
  font-style: $style;
  letter-spacing: $spacing;
}

body{
  margin: 0;
  font-family: 'Oswald', serif;
  text-align: center;
  text-transform: uppercase;
}

.header{
  height: 740px;
  background-image: url("../img/main-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  color: $colorWhite;

  &__content{
    padding-top: 180px;
  }

  &__title{
    @include font($weight: 500, $size: 64px, $height: 95px, $spacing: 0.02em);
    margin: 0 10%;
  }

  &__subtitle{
    @include font($size: 18px, $height: 27px);
    margin-top: 19px;
  }

  &__years-info{
    @include flex;
    background-color: $colorGray;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    width: 100%;
  }

  &__year{
    @include flex;
    flex-direction: column;
    width: 17.117%;
    height: 300px;
    margin: 0 15px;
  }

  &__year p{
    margin: 0;
  }

  &__number-of-years{
    @include font($weight: 500, $size: 72px, $height: 107px);
    color: $colorAccent;
  }

  &__year-text{
    @include font($weight: 500, $size: 36px, $height: 53px);
    color: black;
  }

  &__market-text{
    @include font($weight: 500, $size: 18px, $height: 27px);
    color: $colorDarkGray;
    text-transform: none;
  }
}


.footer{
  @include font($size: 16px, $height: 22px);
  padding: 30px 0;
  font-family: 'Open Sans', serif;
  background-color: $colorDark;
  color: $colorWhite;

  &__content{
    @include flex;
    justify-content: space-between;
  }
}


.main-info{
  margin: 150px 0;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;

  &__menu{
    margin-top: 50px;
    margin-bottom: 140px;
  }

  &__menu-title{
    @include font($weight: 500, $size: 24px, $height: 36px);
    color: $colorAccent;
    cursor: pointer;
    outline: none;
  }

  &__menu-description {
    @include font($size: 16px, $height: 22px);
    margin-top: 22px;
    text-transform: none;
    color: $colorDarkGray;
    width: 85%;
    font-family: 'Open Sans', serif;
  }

  &__menu-row{
    text-align: left;
    margin-bottom: 35px;
  }


  &__title{
    @include font($weight: 500, $size: 36px, $height: 53px);
    margin-bottom: 64px;
    text-transform: uppercase;
  }

  &__jobs-row{
    @include flex;
  }

  &__jobs{
    margin-top: 45px;
    margin-bottom: 130px;
  }

  &__reviews{
    @include flex;
    text-align: left;
    margin-top: 64px;
    margin-bottom: 205px;
  }

  &__review{
    width: 350px;
    height: 259px;
    margin: 0 15px;
    text-transform: none;
    font-weight: normal;
    color: $colorDarkGray;
  }

  &__description{
    @include font($size: 14px, $height: 21px);
    padding: 38px 28px;
    background-color: $colorGray;
    font-family: 'Open Sans', serif;
  }

  &__from{
    @include font($weight: 500, $size: 21px, $height: 31px, $spacing: 0.02em);
    color: $colorDark;
    margin-top: 28px;
  }

  &__review-company{
    color: $colorAccent;
  }

  &__contacts{
    @include flex;
    text-transform: uppercase;
    font-size: 150%;
    padding: 0 21%;
    margin-top: 60px;
    margin-bottom: 150px;
  }

  &__contact{
    width: 255px;
    height: 191px;
    margin: 0 15px;
  }

  &__contact-icon{
    width: auto;
    height: 50px;
    margin-bottom: 10px;
  }

  &__contact-info{
    @include font($weight: 500, $size: 24px, $height: 36px);
    text-align: center;
  }

  &__contact-type{
    @include font($weight: 500, $size: 24px, $height: 36px);
    color: $colorDarkGray;
    text-align: center;
    margin-bottom: 15px;
  }

  &__contact-email{
    @include font($weight: 500, $size: 24px, $height: 36px);
    color: $colorAccent;
    /* identical to box height */

    text-align: center;
  }

  &__quotes{
    width: 35px;
    height: auto;
    margin-bottom: 10px;
  }

  &__job-description{
    @include font($weight: 500, $size: 21px, $height: 31px);
    text-align: center;
    letter-spacing: 0.02em;
  }

  &__job{
    @include flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: $colorGray;
    width: 350px;
    height: 250px;
    margin: 15px 15px;
  }

  &__job-image{
    width: 4em;
    height: auto;
    margin-bottom: 20px;
  }
}

.projects-info{
  margin-top: 250px;
  margin-bottom: 150px;

  &__projects{
    @include flex;
    text-align: left;
    margin-bottom: 120px;
  }

  &__project{
    margin: 0 15px;
    width: 350px;
  }

  &__title{
    @include font($weight: 500, $size: 36px, $height: 53px);
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 50px;
  }

  &__img{
    width: 100%;
    height: auto;
  }

  &__line{
    margin-top: 40px;
    width: 55px;
    height: 6px;
    background-color: $colorAccent;
  }

  &__project-caption{
    @include font($size: 16px, $height: 22px);
    font-family: 'Open Sans', serif;
    color: $colorDarkGray;
    margin-top: 15px;
  }

  &__project-name{
    @include font($weight: 500, $size: 24px, $height: 36px);
    color: $colorDark;
    margin-top: 17px;
  }
}

.contact-info{
  background-color: $colorAccent;
  color: $colorWhite;
  text-transform: uppercase;
  height: 181px;

  &__content{
    @include flex;
    padding-top: 30px;
    justify-content: space-between;
    align-items: center;
  }

  &__title{
    @include font($weight: bold, $size: 48px, $height: 71px, $spacing: 0.02em);
  }

  &__subtitle{
    @include font($weight: bold, $size: 24px, $height: 36px, $spacing: 0.02em);
  }

  &__information{
    @include flex;
    flex-direction: column;
    text-align: left;
  }

  &__img{
    width: 18px;
    height: 21px;
    padding-right: 0.5em;
    padding-bottom: 0.2em;
    vertical-align: middle;
  }

  &__btn{
    @include font($weight: 500, $size: 14px, $height: 21px, $spacing: 0.05em);
    background-color: $colorWhite;
    border: 0 solid white;
    width: 175px;
    height: 49px;
    text-transform: uppercase;
  }
}

.projects-samples{
  @include flex;
  flex-wrap: wrap;

  &__img{
    width: 25%;
    height: auto;
  }
}

.partners-info{
  background-color: $colorDark;
  color: $colorWhite;
  text-align: center;
  text-transform: uppercase;
  padding-top: 100px;

  &__title{
    @include font($weight: 500, $size: 36px, $height: 53px);
  }

  &__partners{
    @include flex;
    margin-top: 50px;
    padding-bottom: 95px;
  }

  &__partner{
    margin: 0 32px;
  }

  &__img{
    width: 170px;
    height: 61px;
  }
}

/* Override styles */

.small-padding-top{
  margin-top: 100px;
}

.center-block{
  max-width: 1110px;
  margin: 0 auto;
}

@media (max-width: 1280px) {
  .header__title{
    margin: 0 3%;
  }

  .header__years-info{
    width: 58%;
  }

  .center-block{
    padding-left: 10%;
    padding-right: 10%;
  }

  .partners-info__img{
    width: 135px;
    height: 45px;
  }
  .partners-info__partner{
    margin: 0 16px;
  }

  .main-info__description{
    font-size: 12px;
    padding: 28px 18px;
  }
}

@media only screen and (max-device-width: 425px) {
  .header__subtitle{
    font-size: 25px;
  }
  .projects-info__projects{
    flex-direction: column;
    align-items: center;
  }

  .projects-info__project{
    margin-bottom: 50px;
  }

  .contact-info__btn{
    font-size: 12px;
  }

  .main-info__jobs-row{
    flex-direction: column;
    align-items: center;
  }

  .projects-samples__img{
    width: 50%;
  }

  .main-info__menu-description{
    width: 80%;
  }

  .main-info__reviews{
    flex-direction: column;
    align-items: center;
  }

  .main-info__review{
    width: 70%;
    margin-bottom: 100px;
  }

  .main-info__description{
    font-size: 20px;
  }

  .main-info__from{
    text-align: center;
  }
}