body {
  margin: 0;
  font-family: "Oswald", serif;
}

/* Header styles */
.header__logo {
  height: 60px;
  width: 60px;
  margin-top: 20px;
  margin-left: 21%;
}

.header__hamburger-menu {
  height: 50px;
  width: 50px;
  margin-top: 30px;
  margin-right: 21%;
}

.header__menu {
  display: flex;
  justify-content: center;
  justify-content: space-between;
}

.header {
  height: 740px;
  background-image: url("../img/main-background.jpg");
  background-repeat: no-repeat;
  background-size: auto;
  position: relative;
  color: #FFFFFF;
  text-align: center;
  text-transform: uppercase;
}

.header__title {
  font-weight: 500;
  font-size: 64px;
  line-height: 95px;
  letter-spacing: 0.02em;
  font-style: normal;
  margin: 112px 31% 0 31%;
}

.header__subtitle {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  margin-top: 19px;
}

.header__years-info {
  display: flex;
  justify-content: center;
  background-color: #F7F7F7;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  width: 58%;
}

.header__year {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 17.117%;
  height: 300px;
  margin: 0 15px;
}

.header__year p {
  margin: 0;
}

.header__number-of-years {
  font-style: normal;
  font-weight: 500;
  font-size: 72px;
  line-height: 107px;
  color: #F7654A;
}

.header__year-text {
  color: black;
  font-weight: 500;
  font-size: 36px;
  line-height: 53px;
}

.header__market-text {
  color: #999999;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  text-transform: none;
}

/* Footer styles */
.footer {
  display: flex;
  justify-content: center;
  padding: 30px 21%;
  font-family: "Open Sans", serif;
  justify-content: space-between;
  background-color: #404149;
  color: #FFFFFF;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
}

/* Main info styles */
.main-info {
  margin-top: 150px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}

.main-info__menu {
  margin-top: 50px;
  margin-bottom: 140px;
}

.main-info__menu-title {
  color: #F7654A;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  cursor: pointer;
  outline: none;
}

.main-info__menu-description {
  margin-top: 22px;
  text-transform: none;
  color: #999999;
  width: 50%;
  font-family: "Open Sans", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
}

.main-info__menu-row {
  text-align: left;
  padding-left: 21%;
  margin-bottom: 35px;
}

.main-info__title {
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 53px;
  text-transform: uppercase;
}

.main-info__jobs-row {
  display: flex;
  justify-content: center;
}

.main-info__jobs {
  margin-top: 45px;
  margin-bottom: 130px;
}

.main-info__reviews {
  display: flex;
  justify-content: center;
  text-align: left;
  margin-top: 64px;
  margin-bottom: 205px;
}

.main-info__review {
  width: 350px;
  height: 259px;
  margin: 0 15px;
  text-transform: none;
  font-weight: normal;
  color: #999999;
}

.main-info__description {
  padding: 38px 28px;
  background-color: #F7F7F7;
  font-family: "Open Sans", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
}

.main-info__from {
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 31px;
  letter-spacing: 0.02em;
  color: #404149;
  margin-top: 28px;
}

.main-info__review-company {
  color: #F7654A;
}

.main-info__contacts {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  font-size: 150%;
  padding: 0 21%;
  margin-top: 60px;
  margin-bottom: 150px;
}

.main-info__contact {
  width: 255px;
  height: 191px;
  margin: 0 15px;
}

.main-info__contact-icon {
  width: auto;
  height: 50px;
  margin-bottom: 10px;
}

.main-info__contact-info {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
}

.main-info__contact-type {
  color: #999999;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  margin-bottom: 15px;
}

.main-info__contact-email {
  color: #F7654A;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  /* identical to box height */
  text-align: center;
}

.main-info__quotes {
  width: 35px;
  height: auto;
  margin-bottom: 10px;
}

.main-info__job-description {
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 31px;
  text-align: center;
  letter-spacing: 0.02em;
}

.main-info__job {
  display: flex;
  justify-content: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #F7F7F7;
  width: 350px;
  height: 250px;
  margin: 15px 15px;
}

.main-info__job-image {
  width: 4em;
  height: auto;
  margin-bottom: 20px;
}

/* Project info styles */
.projects-info {
  margin-top: 250px;
}

.projects-info__projects {
  display: flex;
  justify-content: center;
  text-align: left;
  padding-left: 21%;
  padding-right: 21%;
  margin-bottom: 120px;
}

.projects-info__project {
  margin: 0 15px;
}

.projects-info__title {
  font-weight: 500;
  font-size: 36px;
  line-height: 53px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 50px;
}

.projects-info__img {
  width: 350px;
  height: auto;
}

.projects-info__line {
  margin-top: 40px;
  width: 55px;
  height: 6px;
  background-color: #F7654A;
}

.projects-info__project-caption {
  font-family: "Open Sans", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #999999;
  margin-top: 15px;
}

.projects-info__project-name {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: #404149;
  margin-top: 17px;
}

/* Contact info styles */
.contact-info__title {
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 71px;
  letter-spacing: 0.02em;
}

.contact-info__subtitle {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.02em;
}

.contact-info {
  background-color: #F7654A;
  color: #FFFFFF;
  display: flex;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  padding-left: 21%;
  padding-right: 21%;
  justify-content: space-between;
  align-items: center;
  height: 181px;
}

.contact-info__information {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.contact-info__img {
  width: 18px;
  height: 21px;
  padding-right: 0.5em;
  padding-bottom: 0.2em;
  vertical-align: middle;
}

.contact-info__btn {
  background-color: #FFFFFF;
  border: 0 solid white;
  width: 175px;
  height: 49px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

/* Project Samples styles */
.projects-samples {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.projects-samples__img {
  width: 25%;
  height: auto;
}

/* Partners styles */
.partners-info {
  background-color: #404149;
  color: #FFFFFF;
  text-align: center;
  text-transform: uppercase;
  padding-top: 100px;
}

.partners-info__title {
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 53px;
}

.partners-info__partners {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  padding-bottom: 95px;
}

.partners-info__partner {
  margin: 0 32px;
}

.partners-info__img {
  width: 170px;
  height: 61px;
}

/* Override styles */
.small-padding-top {
  margin-top: 100px;
}

/* Media styles*/
@media (max-width: 1680px) {
  .header__title {
    margin: 112px 26% 0 26%;
  }
}
@media (max-width: 1440px) {
  .header__title {
    margin: 112px 20% 0 20%;
  }
}
@media (max-width: 1024px) {
  .header__title {
    margin: 112px 10% 0 10%;
  }

  .contact-info__title {
    font-size: 32px;
  }

  .contact-info__subtitle {
    font-size: 18px;
  }

  .contact-info {
    padding-left: 10%;
    padding-right: 10%;
  }

  .partners-info__img {
    width: 135px;
    height: 45px;
  }

  .partners-info__partner {
    margin: 0 16px;
  }

  .projects-info__img {
    width: 250px;
    height: auto;
  }

  .main-info__contacts {
    padding: 0 10%;
  }
}
@media only screen and (max-device-width: 425px) {
  .projects-info__projects {
    flex-direction: column;
    text-align: center;
    padding-left: 21%;
    padding-right: 21%;
    margin-bottom: 120px;
  }

  .projects-info__line {
    margin-left: 145px;
    margin-top: 40px;
    width: 250px;
    height: 6px;
    background-color: #F7654A;
  }

  .projects-info__project {
    margin-bottom: 50px;
  }

  .projects-info__project-caption {
    text-align: justify;
    padding-left: 145px;
    padding-right: 145px;
  }

  .main-info__jobs-row {
    flex-direction: column;
    align-items: center;
  }

  .projects-samples__img {
    width: 50%;
  }

  .main-info__menu-description {
    width: 80%;
  }

  .main-info__reviews {
    flex-direction: column;
    align-items: center;
  }

  .main-info__review {
    margin-bottom: 100px;
  }

  .main-info__from {
    text-align: center;
  }
}

/*# sourceMappingURL=styles.css.map */
